html {
	background-color: blue;
}

p {
	color: black;
	text-align: center;
}

body {
	background-color: white;
	width: 800px;
	margin: 50px auto;
	border: 2px solid rgb(211,211,211);
	padding: 0px 50px 50px 20px;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: black;
}

#sources {
	text-align: left;
}

/* NAVIGATION BAR  */

div.scrollmenu {
    position: fixed;
    top: 0%; 
    left: 0; 
    width: 100em; 
    background-color: #333;
    overflow: auto;
    font-family: "Lato"; 
    font-size: 15px; 
    white-space: nowrap;
    opacity: .9;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
